{% load static %}
{% block import %}
    <!-- 引入 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link href="https://releases.transloadit.com/uppy/v2.0.1/uppy.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- 引入 Uppy JavaScript 文件 -->
    <script src="https://releases.transloadit.com/uppy/v2.0.1/uppy.min.js"></script>
    <script src="https://releases.transloadit.com/uppy/locales/v3.0.7/zh_CN.min.js"></script>


{% endblock %}

{% block content %}

    <div class="tab-pane fade show active" id="v-pills-form" role="tabpanel"
         aria-labelledby="v-pills-form-tab" style="width: 100% ;height: 100%">
        <button class="btn btn-primary mb-3" id="importData">导入数据</button>
        {#        <button class="btn btn-primary mb-3" id="updateTable">开始分词</button>#}
        {#        <button class="btn btn-primary mb-3" id="wordSplit">分词统计</button>#}
        <br>
        <h1 align="center">

            {{ data_type }}汇总表预览
        </h1>
        <table class="display" id="myTable" style="white-space: nowrap" aria-description="数据汇总展示">
            <caption>数据汇总展示</caption>
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="uppyModal" tabindex="-1" aria-labelledby="uppyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uppyModalLabel">上传文件</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="uppy"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        (function () {
            const Table = {
                config: {
                    'debug': true,
                    'autoWidth': false,
                    'serverSide': true,
                    'searching': false,
                    'paging': true,
                    'lengthChange': false,
                    'info': false,
                    'deferRender': true,
                    'scrollY': "calc(10 * 43px)",
                    'scrollX': true,
                    'scroller': {'loadingIndicator': true},
                    columns: [],
                },
                init: function (datatype) {
                    this.config.ajax = `/datas/${datatype}/updateTable`;
                    if (datatype === 1) {
                        this.config.columns = [
                            {'title': "发布日期", 'data': "发布日期"},
                            {'title': "地区", 'data': "地区"},
                            {'title': "类型", 'data': "类型"},
                            {'title': "来源", 'data': "来源"},
                            {'title': "级别", 'data': "级别"},
                            {'title': "标题", 'data': "标题"},
                        ]
                    } else if (datatype === 2) {
                        this.config.columns = [
                            {'title': "发布日期", 'data': "发布日期"},
                            {'title': "地区", 'data': "地区"},
                            {'title': "类型", 'data': "类型"},
                            {'title': "来源", 'data': "来源"},
                            {'title': "标题", 'data': "标题"},
                        ]
                    } else if (datatype === 3) {
                        this.config.columns = [
                            {'title': "发布日期", 'data': "发布日期"},
                            {'title': "地区", 'data': "地区"},
                            {'title': "搜索关键词", 'data': "搜索关键词"},
                            {'title': "来源", 'data': "来源"},
                            {'title': "标题", 'data': "标题"},
                        ]
                    }
                    else {
                        console.log('error Datatype')
                    }
                    return $('#myTable').DataTable(this.config);
                },
                update: function (datatype, table) {
                    $.ajax({
                        url: `/datas/${datatype}/updateTable`,
                        method: 'GET',
                        success: function (data) {
                            table.clear();
                            table.rows.add(data);
                            table.draw();
                        },
                        error: function (xhr, status, error) {
                            console.error('Error fetching new data:', error);
                        }
                    });
                }
            };
            const UpLoadPanel = {
                init: function (datatype) {
                    const uppy = new Uppy.Core({
                        autoProceed: false,
                        restrictions: {
                            maxFileSize: 1024 * 1024 * 1024,
                        },
                        locale: Uppy.locales.zh_CN,
                    });


                    uppy.use(Uppy.Dashboard, {
                        inline: true,
                        target: '#uppy',
                        showLinkToFileUploadResult: false,
                        proudlyDisplayPoweredByUppy: false,
                        note: '最大文件大小：1024MB',
                        // 添加一个上传按钮
                        doneButtonHandler: () => {
                            uppy.upload().then(() => {
                                $.ajax({
                                    url: `/datas/${datatype}/processUploadQueue`,
                                    method: 'GET',
                                    success: function (data) {
                                        // 请求成功时处理数据
                                        console.log('请求成功，返回的数据:', data);
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        // 请求失败时处理错误
                                        console.log('请求失败，错误信息:', textStatus, errorThrown);
                                    }
                                });
                                uppy.reset();
                                window.uploadModal.hide();
                            }).catch((error) => {
                                console.error('Error uploading files:', error);
                            });
                        },
                    });
                    uppy.use(Uppy.XHRUpload, {
                        endpoint: `/datas/${datatype}/upload`, // 替换为 Django 的 URL
                        fieldName: 'uploadFile',
                    });

                    uppy.on('complete', (result) => {
                        console.log('Upload complete! We’ve uploaded these files:', result.successful);
                    });
                }
            }
            const EventHandlers = {
                tableHeaderClick: function (table) {
                    $('#myTable thead th').each(function () {
                        $(this).click(function () {
                            const column = table.column($(this).index());
                            const order = column.order()[0] === 'asc' ? 'desc' : 'asc';
                            column.order(order).draw();
                        });
                    });
                },
                updateTableButtonClick: function (datatype, table) {
                    $('#updateTable').on('click', function () {
                        Table.update(datatype, table);
                    });
                },
                importDataButtonClick: function () {
                    $('#importData').on('click', function () {
                        // 显示模态框
                        const modal = new bootstrap.Modal(document.getElementById('uppyModal'));
                        window.uploadModal = modal;
                        modal.show();
                    });
                },
                wordSplitButtonClick: function (datatype) {
                    $('#wordSplit').on('click', function () {
                        // ... (original wordSplit click event handler)
                    });
                },
                test2ButtonClick: function (datatype) {
                    $('#test2').on('click', function () {
                        // ... (original test2 click event handler)
                    });
                },
            };

            $(document).ready(async function () {
                {#const datatype={{ datatype  }}#}
                const table = Table.init({{datatype}})
                Table.update({{datatype}}, table);
                UpLoadPanel.init({{datatype}})
                EventHandlers.tableHeaderClick(table);
                EventHandlers.importDataButtonClick();
                {#EventHandlers.updateTableButtonClick({{datatype}}, table);#}
                {#EventHandlers.wordSplitButtonClick({{datatype}});#}
                {#const UpLoad = new UpLoad();#}
            });
        })();
    </script>
{% endblock %}