html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}


header {
    margin-top: 0;
    margin-bottom: 0;
}

.this-dropdown {
    height: 16%;
    margin-bottom: 0;
}

.container-page {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.container-content {
    margin-left: 0;
    margin-right: 0;
    /*height: 80%;*/
    min-height: 70vh;
    width: 100%;
    flex: 1;
}

.this-row {
    height: 100%;
    min-height: 95vh;
    width: 100%;
}

.this-sidebar {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

.col-right {
    margin: 0;
}

.this-footer {
    /*position: relative;*/
    /*bottom: 0;*/
    width: 100%;
}