{% extends 'base.html' %}
{% load static %}
{% block title %}信息系统-数据展示页面{% endblock %}
{% block head %}
    <meta name="datatype" content="{{ data_type.id }}">

    <!-- 引入Bootstrap CSS文件 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

    <!-- 引入Bootstrap JS文件和其依赖项 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.0/echarts.min.js"></script>
    <script src="{% static 'JavaScript/wordcloud/echarts-wordcloud.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>




{% endblock %}
{% block navbar %}
    {% include 'navbar.html' with active=data_type.id %}
{% endblock %}
{% block content %}
    <div class="row this-row">
        <!--                侧边栏-->
        <div class="col-md-2 bg-light text-grey p-3 " style="border: solid 1px #c4c3c3">
            <div class="d-flex nav flex-column nav-pills this-sidebar" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">

                    </svg>
                    <span class="fs-4">展示视图</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a class="nav-link link-dark active" id="v-pills-form-tab" data-bs-toggle="pill"
                           href="#v-pills-form" role="tab" aria-controls="v-pills-form" aria-selected="true">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            表格
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link-dark" id="v-pills-graph-tab" data-bs-toggle="pill"
                           href="#v-pills-graph" role="tab" aria-controls="v-pills-graph" aria-selected="false">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#cloud"></use>
                            </svg>
                            词云
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                       id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://picx.zhimg.com/v2-3ff96ff65c3555eaeff41c6daa7eb88b_r.jpg" alt="" width="32"
                             height="32" class="rounded-circle me-2">
                        <strong>信息学院</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-10 p-3 col-right">
            <div class="tab-content" id="v-pills-tabContent" style="width: 100% ;height: 100%">
                <div class="tab-pane fade show active" id="v-pills-form" role="tabpanel"
                     aria-labelledby="v-pills-form-tab" style="width: 100% ;height: 100%">

                    <button class="btn btn-primary mb-3" id="importData">导入数据</button>
                    <button class="btn btn-primary mb-3" id="updateTable">更新数据</button>
                    <button class="btn btn-primary mb-3" id="wordSplit">分词统计</button>
                    {#                    <button class="btn btn-primary mb-3" id="test1">测试1</button>#}
                    {#                    <button class="btn btn-primary mb-3" id="test2">测试2</button>#}
                    <br>
                    <h1 align="center">

                        {{ data_type }}汇总表预览
                    </h1>
                    <table class="display" id="myTable" style="white-space: nowrap" aria-description="数据汇总展示">
                        <caption>数据汇总展示</caption>
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade w-100 h-100" id="v-pills-graph" role="tabpanel" aria-labelledby="v-pills-graph-tab"
{#                     style="width: 100% ;height: 100%"#}
                >
                    <div id="wordcloud" class=" w-50 h-50 top-50 start-50 translate-middle"
{#                         style="width: 100vh; height: 60vh;"#}
                    ></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            const dataTypeMeta = document.querySelector('meta[name="datatype"]');
            console.log(dataTypeMeta)
            const datatype = dataTypeMeta.getAttribute('content').toString()
            console.log(datatype)
            {#var rowHeight = $('#myTable').DataTable().row(1).node().clientHeight;#}
            let tableConfig = {
                'debug': true,
                'autoWidth': false,
                'serverSide': true,
                'searching': false,
                'paging': true,
                'lengthChange': false,
                'info': false,
                'deferRender': true,
                'scrollY': "calc(10 * 43px)",
                'scrollX': true,
                'scroller': {'loadingIndicator': true},
                columns: [
                    {'title': "发布日期", 'data': "发布日期"},
                    {'title': "地区", 'data': "地区"},
                    {'title': "类型", 'data': "类型"},
                    {'title': "来源", 'data': "来源"},
                    {'title': "级别", 'data': "级别"},
                    {'title': "标题", 'data': "标题"},
                ],
            };

            if (1) {
                console.log(`/datas/${datatype}/updateTable`)
                tableConfig.ajax = `/datas/${datatype}/updateTable`
            } else {
                tableConfig.serverSide = false;
                tableConfig['data'] = initialData.data;
            }
            let table = $('#myTable').DataTable(tableConfig);
            // console.log('271')
            const updateTable = () => {
                $.ajax({
                    url: `/datas/${datatype}/updateTable`,
                    method: 'GET',
                    success: function (data) {
                        // localStorage.setItem('tableData', JSON.stringify(data));
                        // console.log(data);
                        // console.log(table.rows);
                        table.clear();
                        table.rows.add(data);
                        table.draw();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching new data:', error);
                    }
                });
            };
            $('#myTable thead th').each(function () {
                $(this).click(function () {
                    var table = $('#myTable').DataTable();
                    var column = table.column($(this).index());
                    var order = column.order()[0] === 'asc' ? 'desc' : 'asc';
                    column.order(order).draw();
                });
            });

            $('#updateTable').on('click', function () {
                updateTable();
            });

            $('#importData').on('click', function () {
                $.ajax({
                    url: `/datas/${datatype}/handle_task`,
                    method: 'GET',
                    data: {task_type: 'gov_data_import', task_params: ''},
                    success: function () {
                        updateTable();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching new data:', error);
                    }
                });
            });

            $('#wordSplit').on('click', function () {
                $.ajax({
                    url: `/datas/${datatype}/handle_task`,
                    method: 'GET',
                    data: {task_type: 'word_split', task_params: ''},
                    success: function () {
                        console.log('word split success')
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            $('#test2').on('click', function () {
                let obj = {
                    'a': 1,
                    'b': 2
                };
                let json_str = JSON.stringify(obj);
                $.ajax({
                    url: `/datas/${datatype}/handle_task`,
                    method: 'GET',
                    data: {task_type: 'test2', task_params: json_str},
                    success: function () {
                        console.log('test2 success')
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
            const wordcloudDiv = document.getElementById('wordcloud');
            const chart = echarts.init(wordcloudDiv);
            {#console.log(chart)#}
            var maskImage = new Image();

            const wordCloudOptions = {
                tooltip: {},
                series: [{
                    type: 'wordCloud',
                    shape: 'circle',
                    maskImage: maskImage,
                    gridSize: 8,
                    sizeRange: [12, 50],
                    rotationRange: [-90, 90],
                    left: 'center',
                    top: 'center',
                    {#right: null,#}
                    {#bottom: null,#}
                    width: '100%',
                    height: '100%',
                    rotationStep: 45,
                    drawOutOfBound: false,
                    shrinkToFit: true,
                    layoutAnimation: true,
                    keepAspect: true,
                    textStyle: {
                        fontFamily: 'sans-serif',
                        fontWeight: 'bold',
                        color: function () {
                            return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        textStyle: {
                            textShadowBlur: 10,
                            textShadowColor: '#333'
                        }
                    },
                    data: []
                }]
            };
            maskImage.src = "{% static 'image/cloud.png' %}"
            {#maskImage.src = "{% static 'image/logo.png' %}"#}

            const updateWordCloud = (data = []) => {
                if (data.length) {
                    wordCloudOptions.series[0].data = data;
                }
                chart.setOption(wordCloudOptions);
                chart.resize();
            };

            const fetchWordFrequencyData = () => {
                fetch(`/datas/${datatype}/wordCloud`, {method: 'GET'})
                    .then(response => response.json())
                    .then(data => {
                        updateWordCloud(data.word_freq);
                        console.log(data);

                    })
                    .catch(error => {
                        console.error('Error fetching word frequency data:', error);
                    });
            };

            fetchWordFrequencyData();

            window.addEventListener('resize', function () {
                chart.resize();
            });

            $('a[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
                if ($(e.target).attr('id') === 'v-pills-graph-tab') {
                    updateWordCloud();
                }
            });
        });
    </script>

{% endblock %}
