{% extends 'template/base.html' %}
{#{% load static %}#}
{% block title %}信息系统首页{% endblock %}
{% block head %}

{% endblock %}
{% block navbar %}
    {% include 'template/navbar.html' with active=0 %}
{% endblock %}
{% block content %}
    <div class=" col-right ">
        {#             col-md-10  p-0 #}
        <header class="bg-secondary text-white text-center py-3 mb-4">
            <h1>区域数字经济发展指数</h1>
            <h2><span id="current-time">当前时间</span></h2> <!-- 添加用于显示实时时间的span元素 -->
            <h2><span id="">已收录数据 19300条</span></h2>
        </header>

        <div class="container">
            <div class="row">

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">政府数据展示</h5>
                            <p class="card-text text-secondary">各省政府官网数据展示</p>
                        </div>
                        <div class="card-footer">
                            <a href="/datas/1" class="btn btn-primary">查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">微博数据展示</h5>
                            <p class="card-text text-secondary">31省官方微博账号关键词数据</p>
                        </div>
                        <div class="card-footer">
                            <a href="/datas/2" class="btn btn-primary">查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">头条数据展示</h5>
                            <p class="card-text text-secondary">头条新闻数字经济数据</p>
                        </div>
                        <div class="card-footer">
                            <a href="/datas/3" class="btn btn-primary">查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">管理员</h5>
                            <p class="card-text text-secondary">后台管理员界面</p>
                        </div>
                        <div class="card-footer">
                            <a href="/admin" class="btn btn-primary" target="_blank">查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">查看报告</h5>
                            <p class="card-text text-secondary">查看并下载区域数字经济报告</p>
                        </div>
                        <div class="card-footer">
                            <a href="/report" class="btn btn-primary">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function updateCurrentTime() {
            let currentTime = new Date();
            let years = currentTime.getFullYear();
            let month = currentTime.getMonth();
            let day = currentTime.getDay();
            let hours = currentTime.getHours();
            let minutes = currentTime.getMinutes();
            let seconds = currentTime.getSeconds();

            // 为小时、分钟和秒添加前导零（如果需要）
            month = (month < 10) ? '0' + month : month;
            day = (day < 10) ? '0' + day : day;
            hours = (hours < 10) ? '0' + hours : hours;
            minutes = (minutes < 10) ? '0' + minutes : minutes;
            seconds = (seconds < 10) ? '0' + seconds : seconds;

            document.getElementById('current-time').innerHTML = "当前时间   " + years + "年" + month + "月" + day + "日  " + hours + ':' + minutes + ':' + seconds;
        }

        // 每秒更新一次时间
        setInterval(updateCurrentTime, 1000);
    </script>
{% endblock %}

